<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Simple Django blog{% endblock %}</title>
</head>
<body>
    {% include 'navigation.html' %}
    {% block content %}

{% for post in posts_all %}
{% if post.published %}
    <h3><a href="/{{ post.slug }}">{{ post.title }}</a></h3>
    <h4>{{ post.post_author }}</h4>
    <h5>Created on {{ post.created_at }}{% if post.created_at != post.updated_at %}; updated on {{ post.updated_at }}{% endif %}</h5>
    <h6>Tags: {{ post.slug }}</h6>
    <p>{{ post.content }}</p>
    {% if not forloop.last %}<hr>{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
</body>
</html>
